body {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

html {
    overflow: hidden;
    height: 100%;
}

navbar {
    overflow: hidden;   /* Prevent scrolling */
    white-space: nowrap; /* Prevent wrapping (optional) */
}
